<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>com.project_management.servlets.TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.project_management.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login_jsp</servlet-name>
        <jsp-file>/login_page.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>project_overview_jsp</servlet-name>
        <jsp-file>/project_overview.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AddProjectServlet</servlet-name>
        <servlet-class>com.project_management.servlets.AddProjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.project_management.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CoordinatorRegisterServlet</servlet-name>
        <servlet-class>com.project_management.servlets.CoordinatorRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateApprovalServlet</servlet-name>
        <servlet-class>com.project_management.servlets.UpdateApprovalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignMentorServlet</servlet-name>
        <servlet-class>com.project_management.servlets.AssignMentorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddGuidelineServlet</servlet-name>
        <servlet-class>com.project_management.servlets.AddGuidelineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadGuidelineServlet</servlet-name>
        <servlet-class>com.project_management.servlets.DownloadGuidelineServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>project_overview_jsp</servlet-name>
        <url-pattern>/project-overview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login_jsp</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProjectServlet</servlet-name>
        <url-pattern>/AddProjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CoordinatorRegisterServlet</servlet-name>
        <url-pattern>/CoordinatorRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateApprovalServlet</servlet-name>
        <url-pattern>/UpdateApprovalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignMentorServlet</servlet-name>
        <url-pattern>/AssignMentorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddGuidelineServlet</servlet-name>
        <url-pattern>/AddGuidelineServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadGuidelineServlet</servlet-name>
        <url-pattern>/DownloadGuidelineServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
